.Rproj.user
.Rhistory
.RData
.Ruserdata
*/docs
*.bak
010_making_choices_website/source/site/mnm_keuzes.*
010_making_choices_website/source/site/_bookdown_files
010_making_choices_website/source/site/mnm_keuzes_files
*/doc
*.md
!README.md
*.gpkg
Strategie.html
*.pdf
_book/
css/
strategie_slides.html
*_files/
Samplesize_simple.html
*.lof
*.log
*.lot
*.toc
**/data/10_raw/GRTSmaster_habitats
**/data/20_processed/habitatmap_stdized
**/data/10_raw/flanders
**/data/20_processed/GRTSmh_diffres
**/*.html
.httr-oauth
grts_join/
grass_areal/
grts_join*
grass_areal*
*.tif
*.gpkg
grts*_polygon_id.tsv
grts*_polygon_id.yml
**/n2khab_data
output
css
*.log
*.rds
*.rda
!header.html
**/data/10_input/binary
**/data/binary
**/PRJ_Macrofyten
**/renv/library/
**/renv/local/
**/renv/lock/
**/renv/python/
**/renv/staging/
*.gpkg
110_design_groundwater/020_design_elaborate/data/grass_gw
