.Rproj.user
.Rhistory
.RData
.Ruserdata
*/docs
*.bak
010_making_choices_website/source/site/mnm_keuzes.*
010_making_choices_website/source/site/_bookdown_files
010_making_choices_website/source/site/mnm_keuzes_files
*/doc
*.md
!LICENSE.md
*.tex
!header.tex
Strategie.html
*.pdf
_book/
strategie_slides.html
*_files/
Samplesize_simple.html
*.lof
*.log
*.lot
*.toc
*.bbl
*.blg
cover.txt
**/data/10_raw/GRTSmaster_habitats
**/data/20_processed/habitatmap_stdized
**/data/10_raw/flanders
**/data/20_processed/GRTSmh_diffres
**/*.html
.httr-oauth
grts_join/
grass_areal/
grts_join*
grass_areal*
*.tif
*.gpkg
grts*_polygon_id.tsv
grts*_polygon_id.yml
**/n2khab_data
output
css
*.log
*.rds
*.rda
!header.html
**/data/10_input/binary
**/PRJ_Macrofyten
**/renv/library/
**/renv/local/
**/renv/lock/
**/renv/python/
**/renv/staging/
/110_design_groundwater/110_shallow_filtertop_sensibility/archive/*.csv
/110_design_groundwater/110_shallow_filtertop_sensibility/figures/
/110_design_groundwater/110_shallow_filtertop_sensibility/*.csv
/110_design_groundwater/110_shallow_filtertop_sensibility/*.tar.gz
/110_design_groundwater/110_shallow_filtertop_sensibility/html_storage/
/110_design_groundwater/160_spatial_coupling/dhmv_points.db
/110_design_groundwater/160_spatial_coupling/*.parquet
/110_design_groundwater/160_spatial_coupling/figures/
/110_design_groundwater/160_spatial_coupling/data/
/110_design_groundwater/160_spatial_coupling/archive/
/110_design_groundwater/160_spatial_coupling/*.csv
/110_design_groundwater/160_spatial_coupling/cache/
/110_design_groundwater/160_spatial_coupling/requirements.txt
/110_design_groundwater/160_spatial_coupling/*.png
/110_design_groundwater/160_spatial_coupling/20251212_extract_for_ANB/regression/
/110_design_groundwater/160_spatial_coupling/cache_bak/
/110_design_groundwater/160_spatial_coupling/20251212_extract_for_ANB/data/
/110_design_groundwater/161_summary_coupling_analysis/figures/
/110_design_groundwater/160_spatial_coupling/gegevens/
