.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*/docs
*.bak
010_making_choices_website/source/site/mnm_keuzes.*
010_making_choices_website/source/site/_bookdown_files
010_making_choices_website/source/site/mnm_keuzes_files
*/doc
*.md
Strategie.html
_book/
strategie_slides.html

